## Импорт данных и библиотек:

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('./dataset_Facebook.csv', sep=';')
data.head(10)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142

## Статистики по столбцам:

In [18]:
def statistics(data):
    s1 = data.describe()
    mode = data.mode(axis='rows').head(1).rename({0: 'mode'}, axis='index')
    s2 = pd.concat([s1, mode])
    return(s2)

In [19]:
statistics(data)

,Category,Lifetime Engaged Users,Lifetime People who have liked your Page and engaged with your post,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post Total Impressions,Lifetime Post Total Reach,Lifetime Post reach by people who like your Page,Page total likes,Paid,Post Hour,Post Month,Post Weekday,Total Interactions,Type,comment,like,share
count,500.000000,500.000000,500.000000,500.000000,500.000000,5.000000e+02,5.000000e+02,500.00000,500.000000,500.000000,499.000000,500.000000,500.000000,500.000000,500.000000,NaN,500.00000,499.000000,496.000000
mean,1.880000,920.344000,609.986000,798.772000,1415.130000,1.676638e+04,2.958595e+04,13903.36000,6585.488000,123194.176000,0.278557,7.840000,7.038000,4.150000,212.120000,NaN,7.48200,177.945892,27.266129
std,0.852675,985.016636,612.725618,882.505013,2000.594118,5.979102e+04,7.680325e+04,22740.78789,7682.009405,16272.813214,0.448739,4.368589,3.307936,2.030701,380.233118,NaN,21.18091,323.398742,42.613292
min,1.000000,9.000000,9.000000,9.000000,9.000000,5.670000e+02,5.700000e+02,238.00000,236.000000,81370.000000,0.000000,1.000000,1.000000,1.000000,0.000000,NaN,0.00000,0.000000,0.000000
25%,1.000000,393.750000,291.000000,332.500000,509.250000,3.969750e+03,5.694750e+03,3315.00000,2181.500000,112676.000000,0.000000,3.000000,4.000000,2.000000,71.000000,NaN,1.00000,56.500000,10.000000
50%,2.000000,625.500000,412.000000,551.500000,851.000000,6.255500e+03,9.051000e+03,5281.00000,3417.000000,129600.000000,0.000000,9.000000,7.000000,4.000000,123.500000,NaN,3.00000,101.000000,19.000000
75%,3.000000,1062.000000,656.250000,955.500000,1463.000000,1.486050e+04,2.208550e+04,13168.00000,7989.000000,136393.000000,1.000000,11.000000,10.000000,6.000000,228.500000,NaN,7.00000,187.500000,32.250000
max,3.000000,11452.000000,4376.000000,11328.000000,19779.000000,1.107833e+06,1.110282e+06,180480.00000,51456.000000,139441.000000,1.000000,23.000000,12.000000,7.000000,6334.000000,NaN,372.00000,5172.000000,790.000000
mode,1.000000,537.000000,403.000000,182.000000,431.000000,1.210000e+03,4.372000e+03,677.00000,690.000000,136393.000000,0.000000,3.000000,10.000000,7.000000,0.000000,Photo,0.00000,98.000000,13.000000

In [12]:
np.unique(data.Type)

array(['Link', 'Photo', 'Status', 'Video'], dtype=object)

### Статистики для фотографий:

In [23]:
photos = data[data.Type == 'Photo']
statistics(photos)

,Category,Lifetime Engaged Users,Lifetime People who have liked your Page and engaged with your post,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post Total Impressions,Lifetime Post Total Reach,Lifetime Post reach by people who like your Page,Page total likes,Paid,Post Hour,Post Month,Post Weekday,Total Interactions,Type,comment,like,share
count,426.000000,426.000000,426.000000,426.000000,426.000000,4.260000e+02,4.260000e+02,426.000000,426.000000,426.000000,425.000000,426.000000,426.000000,426.000000,426.000000,NaN,426.000000,425.000000,422.000000
mean,1.917840,818.946009,507.305164,690.431925,1299.025822,1.642248e+04,2.899450e+04,13137.814554,6059.103286,122354.171362,0.280000,7.997653,6.805164,4.107981,216.579812,NaN,7.492958,182.611765,27.158768
std,0.884007,868.447092,399.972665,731.712670,1965.996628,6.450149e+04,8.095792e+04,22877.787010,7819.018244,16324.528694,0.449528,4.413082,3.234676,2.056286,405.709232,NaN,22.522275,345.245233,44.919679
min,1.000000,9.000000,9.000000,9.000000,9.000000,5.670000e+02,5.700000e+02,238.000000,236.000000,81370.000000,0.000000,1.000000,1.000000,1.000000,0.000000,NaN,0.000000,0.000000,0.000000
25%,1.000000,399.000000,300.250000,335.000000,513.000000,3.695250e+03,5.390000e+03,3092.500000,2100.250000,109670.000000,0.000000,3.000000,4.000000,2.000000,71.250000,NaN,1.000000,57.000000,10.000000
50%,2.000000,605.500000,403.000000,528.500000,827.000000,5.498000e+03,8.118500e+03,4675.000000,3110.000000,128032.000000,0.000000,9.000000,7.000000,4.000000,122.000000,NaN,3.000000,100.000000,19.000000
75%,3.000000,949.000000,569.750000,832.250000,1327.500000,9.823000e+03,1.701375e+04,10571.000000,5577.000000,136013.000000,1.000000,11.000000,10.000000,6.000000,225.000000,NaN,7.000000,186.000000,32.000000
max,3.000000,11452.000000,3430.000000,11328.000000,19779.000000,1.107833e+06,1.110282e+06,180480.000000,51456.000000,139441.000000,1.000000,23.000000,12.000000,7.000000,6334.000000,NaN,372.000000,5172.000000,790.000000
mode,1.000000,537.000000,403.000000,298.000000,431.000000,1.210000e+03,4.372000e+03,677.000000,690.000000,124940.000000,0.000000,3.000000,10.000000,7.000000,0.000000,Photo,0.000000,7.000000,14.000000

### Статистики для статусов:

In [24]:
status = data[data.Type == 'Status']
statistics(status)

,Category,Lifetime Engaged Users,Lifetime People who have liked your Page and engaged with your post,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post Total Impressions,Lifetime Post Total Reach,Lifetime Post reach by people who like your Page,Page total likes,Paid,Post Hour,Post Month,Post Weekday,Total Interactions,Type,comment,like,share
count,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,NaN,45.000000,45.000000,45.000000
mean,2.022222,2040.222222,1719.844444,1949.555556,2838.866667,18664.266667,24244.466667,13078.888889,9908.577778,132647.044444,0.222222,7.244444,9.066667,4.577778,217.044444,NaN,8.911111,176.711111,31.422222
std,0.398228,1351.996838,1083.684581,1319.980433,2075.419548,7521.069017,9929.142874,5218.086371,3997.608572,7902.145290,0.420437,3.926342,2.553073,1.924588,178.479940,NaN,12.451400,150.772499,24.272589
min,1.000000,128.000000,101.000000,86.000000,112.000000,5009.000000,7509.000000,3930.000000,2410.000000,104070.000000,0.000000,2.000000,3.000000,1.000000,17.000000,NaN,0.000000,13.000000,1.000000
25%,2.000000,1151.000000,995.000000,1073.000000,1512.000000,13887.000000,17099.000000,9232.000000,7360.000000,131300.000000,0.000000,3.000000,7.000000,3.000000,106.000000,NaN,2.000000,86.000000,16.000000
50%,2.000000,1701.000000,1604.000000,1599.000000,2201.000000,17502.000000,20849.000000,11096.000000,8980.000000,135713.000000,0.000000,9.000000,10.000000,5.000000,186.000000,NaN,4.000000,150.000000,28.000000
75%,2.000000,2675.000000,2256.000000,2567.000000,3420.000000,22103.000000,30514.000000,15816.000000,11792.000000,138353.000000,0.000000,10.000000,12.000000,6.000000,265.000000,NaN,10.000000,226.000000,39.000000
max,3.000000,6164.000000,4376.000000,5934.000000,9237.000000,37849.000000,59964.000000,31136.000000,21352.000000,139441.000000,1.000000,15.000000,12.000000,7.000000,1009.000000,NaN,60.000000,859.000000,123.000000
mode,2.000000,128.000000,101.000000,86.000000,1692.000000,5009.000000,7509.000000,3930.000000,2410.000000,139441.000000,0.000000,10.000000,12.000000,5.000000,117.000000,Status,2.000000,86.000000,1.000000

### Статистики для ссылок:

In [25]:
links = data[data.Type == 'Link']
statistics(links)

,Category,Lifetime Engaged Users,Lifetime People who have liked your Page and engaged with your post,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post Total Impressions,Lifetime Post Total Reach,Lifetime Post reach by people who like your Page,Page total likes,Paid,Post Hour,Post Month,Post Weekday,Total Interactions,Type,comment,like,share
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,NaN,22.000000,22.000000,22.000000
mean,1.136364,342.818182,210.545455,292.681818,374.090909,11148.590909,28725.454545,18544.590909,6544.363636,116363.181818,0.272727,5.727273,6.590909,4.272727,89.045455,NaN,2.818182,73.318182,12.909091
std,0.467563,340.174414,188.873030,291.385261,358.404787,8888.568907,50042.047711,21399.411331,5960.612461,21459.767350,0.455842,3.930126,4.563406,1.856310,95.720564,NaN,3.633657,85.746240,11.751025
min,1.000000,24.000000,19.000000,23.000000,26.000000,2307.000000,3094.000000,1536.000000,1180.000000,85979.000000,0.000000,2.000000,1.000000,1.000000,6.000000,NaN,0.000000,5.000000,0.000000
25%,1.000000,105.000000,92.250000,84.750000,120.000000,6367.750000,6861.500000,3878.000000,3156.000000,98829.250000,0.000000,3.000000,3.000000,3.000000,32.750000,NaN,0.000000,19.500000,5.500000
50%,1.000000,244.000000,161.500000,205.000000,290.000000,9034.500000,9773.000000,7422.000000,5039.000000,115396.000000,0.000000,4.000000,4.500000,4.500000,52.500000,NaN,1.500000,37.000000,10.500000
75%,1.000000,422.000000,251.750000,355.750000,472.750000,13903.750000,26153.750000,30938.000000,8140.000000,138059.000000,0.750000,9.250000,11.750000,6.000000,125.000000,NaN,4.000000,110.750000,15.000000
max,3.000000,1374.000000,788.000000,1106.000000,1345.000000,42338.000000,229733.000000,70912.000000,27232.000000,138895.000000,1.000000,14.000000,12.000000,7.000000,420.000000,NaN,15.000000,379.000000,44.000000
mode,1.000000,66.000000,19.000000,322.000000,26.000000,2307.000000,3094.000000,1536.000000,1180.000000,138353.000000,0.000000,3.000000,12.000000,6.000000,14.000000,Link,0.000000,12.000000,2.000000

### Статистики для видео:

In [26]:
videos = data[data.Type == 'Video']
statistics(videos)

,Category,Lifetime Engaged Users,Lifetime People who have liked your Page and engaged with your post,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post Total Impressions,Lifetime Post Total Reach,Lifetime Post reach by people who like your Page,Page total likes,Paid,Post Hour,Post Month,Post Weekday,Total Interactions,Type,comment,like,share
count,7.0,7.00000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,NaN,7.000000,7.000000,7.000000
mean,1.0,1707.00000,979.428571,1584.714286,2600.142857,43149.857143,102622.428571,51205.714286,17386.285714,135014.857143,0.571429,8.714286,9.571429,3.571429,295.857143,NaN,12.285714,231.428571,52.142857
std,0.0,1174.78608,650.805362,1160.701471,2296.643524,31072.683306,101838.314111,48825.191031,9861.583607,4730.551709,0.534522,4.347961,2.299068,1.511858,183.992236,NaN,8.693183,142.025652,42.643595
min,1.0,459.00000,363.000000,411.000000,539.000000,21436.000000,30235.000000,13544.000000,9568.000000,126424.000000,0.000000,2.000000,6.000000,2.000000,81.000000,NaN,2.000000,65.000000,13.000000
25%,1.0,829.00000,503.000000,763.000000,1197.500000,25644.500000,36181.500000,19144.000000,12340.000000,132835.000000,0.000000,6.500000,8.000000,2.500000,144.000000,NaN,4.000000,121.000000,13.500000
50%,1.0,1779.00000,885.000000,1643.000000,2331.000000,30131.000000,56950.000000,30624.000000,14112.000000,137893.000000,1.000000,11.000000,11.000000,3.000000,271.000000,NaN,17.000000,204.000000,44.000000
75%,1.0,2090.50000,1192.000000,1845.500000,2804.500000,45845.500000,140854.500000,68488.000000,17312.000000,138111.000000,1.000000,11.000000,11.000000,4.500000,440.500000,NaN,18.000000,330.000000,80.000000
max,1.0,3872.00000,2218.000000,3822.000000,7327.000000,107502.000000,277100.000000,139008.000000,38720.000000,138895.000000,1.000000,13.000000,12.000000,6.000000,550.000000,NaN,23.000000,449.000000,121.000000
mode,1.0,459.00000,363.000000,411.000000,539.000000,21436.000000,30235.000000,13544.000000,9568.000000,137893.000000,1.000000,11.000000,11.000000,2.000000,81.000000,Video,2.000000,65.000000,13.000000

## Найдем самые популярные с точки зрения количества лайков и репостов фотографии, ссылки, видео и статусы:

__Фотографии:__

In [28]:
photos.sort_values(by='like', ascending=False).head(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806

In [29]:
photos.sort_values(by='share', ascending=False).head(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873

In [39]:
photos.sort_values(by='comment', ascending=False).head(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974

Самое популярное фото набрало наибольшее число лайков, репостов и комментариев.

__Статусы:__

In [30]:
status.sort_values(by='like', ascending=False).head(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
142,136013,Status,2,10,3,2,1.0,31136,59964,6164,5934,9237,35977,18048,4376,60,859.0,90.0,1009
242,130791,Status,2,7,4,6,0.0,17360,33613,2573,2448,6017,23338,11800,1905,9,484.0,79.0,572
371,113028,Status,2,4,6,3,1.0,17912,34774,2750,2567,6591,21009,11408,2256,17,447.0,123.0,587

In [31]:
status.sort_values(by='share', ascending=False).head(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
371,113028,Status,2,4,6,3,1.0,17912,34774,2750,2567,6591,21009,11408,2256,17,447.0,123.0,587
142,136013,Status,2,10,3,2,1.0,31136,59964,6164,5934,9237,35977,18048,4376,60,859.0,90.0,1009
242,130791,Status,2,7,4,6,0.0,17360,33613,2573,2448,6017,23338,11800,1905,9,484.0,79.0,572

In [40]:
status.sort_values(by='comment', ascending=False).head(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
142,136013,Status,2,10,3,2,1.0,31136,59964,6164,5934,9237,35977,18048,4376,60,859.0,90.0,1009
217,131956,Status,2,8,2,12,0.0,14424,26000,304,286,383,25539,14056,291,41,15.0,1.0,57
172,135195,Status,2,9,1,10,0.0,21256,41906,4840,4754,5906,35455,17592,4318,38,163.0,27.0,228

Топ-3 самых популярных статусов совпадает по лайкам и репостам и частично - по комментариям.

__Видео:__

In [32]:
videos.sort_values(by='like', ascending=False).head(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
71,137893,Video,1,11,5,3,1.0,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550
183,134879,Video,1,9,2,10,0.0,30624,56950,2080,1956,3253,32033,15744,1376,6,345.0,121.0,472
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409

In [33]:
videos.sort_values(by='share', ascending=False).head(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
183,134879,Video,1,9,2,10,0.0,30624,56950,2080,1956,3253,32033,15744,1376,6,345.0,121.0,472
71,137893,Video,1,11,5,3,1.0,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409

In [41]:
videos.sort_values(by='comment', ascending=False).head(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
277,126424,Video,1,6,2,13,0.0,139008,277100,1779,1643,2356,107502,38720,1008,23,204.0,44.0,271
29,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559,18,143.0,13.0,174
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409

Топ-3 самых популярных видео также совпадает по лайкам и репостам, по комментариям - только id243.

__Ссылки:__

In [36]:
links.sort_values(by='like', ascending=False).head(4)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
403,107907,Link,1,4,2,6,0.0,70912,94172,1374,1106,1267,42338,27232,788,1,379.0,40.0,420
41,138895,Link,1,12,6,3,1.0,18480,28438,517,366,460,12078,6752,319,6,187.0,18.0,211
140,136013,Link,1,10,4,3,0.0,68992,229733,1032,975,1345,17842,8032,635,15,143.0,44.0,202
86,137177,Link,1,11,4,3,0.0,21176,54779,330,228,329,13858,5248,185,2,130.0,31.0,163

In [37]:
links.sort_values(by='share', ascending=False).head(4)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
140,136013,Link,1,10,4,3,0.0,68992,229733,1032,975,1345,17842,8032,635,15,143.0,44.0,202
403,107907,Link,1,4,2,6,0.0,70912,94172,1374,1106,1267,42338,27232,788,1,379.0,40.0,420
86,137177,Link,1,11,4,3,0.0,21176,54779,330,228,329,13858,5248,185,2,130.0,31.0,163
41,138895,Link,1,12,6,3,1.0,18480,28438,517,366,460,12078,6752,319,6,187.0,18.0,211

In [43]:
videos.sort_values(by='comment', ascending=False).head(4)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
277,126424,Video,1,6,2,13,0.0,139008,277100,1779,1643,2356,107502,38720,1008,23,204.0,44.0,271
29,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559,18,143.0,13.0,174
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409
71,137893,Video,1,11,5,3,1.0,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550

В ссылках по лайкам и репостам совпадает только топ-4, по комментариям совпадений по популярности нет.